@model Softech.Models.ViewModels.JobVM

@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript" src="~/Scripts/nepali.datepicker.v2.2.min.js"></script>
<script>
    $(document).click(function () {
        $('.nepali-calendar').nepaliDatePicker();
    });
</script>
<link rel="stylesheet" type="text/css" href="~/Content/nepali.datepicker.v2.2.min.css">
@if (TempData["SM"] != null)
{
    <div class="alert alert-success">
        @TempData["SM"]
    </div>
}
<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PersonId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PersonId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ClientName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        @using (Html.BeginForm())
        {
            <div class="form-group" id="nepali-calendar">
                @Html.LabelFor(model => model.DeployDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DeployDate, new { htmlAttributes = new { @class = "nepali-calendar" } })
                    @Html.ValidationMessageFor(model => model.DeployDate, "", new { @class = "text-danger" })

                    <link href="~/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />
                </div>
            </div>
        }





        <div class="form-group">
            @Html.LabelFor(model => model.SoftwareName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoftwareName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoftwareName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Other, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Other, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Other, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts {
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/nepali.datepicker.v2.2.min.js"></script>
    <script>
        $(function () {
            $(".nepali-calender").nepaliDatePicker();
        });
    </script>
    <link rel="stylesheet" type="text/css" href="~/Content/nepali.datepicker.v2.2.min.css">
}
@*<head runat="server">
        <link href="https://maps/documentation/javascript/examples/default.css" rel="stylesheet">



        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" type="text/javascript"></script>
        <script>
            var mapcode;
            var diag;
            function initialize() {
                mapcode = new google.maps.Geocoder();
                var lnt = new google.maps.LatLng(26.45, 82.85);
                var diagChoice = {
                    zoom: 9,
                    center: lnt,
                    diagId: google.maps.MapTypeId.ROADMAP
                }
                diag = new google.maps.Map(document.getElementById('map_populate'), diagChoice);
            }
            function getmap() {
                var completeaddress = document.getElementById('txt_location').value;
                mapcode.geocode({ 'address': completeaddress }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        diag.setCenter(results[0].geometry.location);
                        var hint = new google.maps.Marker({
                            diag: diag,
                            position: results[0].geometry.location
                        });
                    } else {
                        alert('Location Not Tracked. ' + status);
                    }
                });
            }
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>

    </head>

    <form id="form1" runat="server">

        <div>
            <h1>Enter Your Location Details</h1>
        </div>
        <div>
            <textarea id="txt_location" type="text" TextMode="MultiLine" Width="400px" Height="70px" runat="server"></textarea>
        </div>
        <div>
            <input type="button" value="Search" onclick="getmap()">
        </div>
        <div id="map_populate" style="width:100%; height:500px; border: 5px solid #5E5454;">
        </div>
    </form>*@
<head runat="server">
    

    <link href="https://maps/documentation/javascript/examples/default.css" rel="stylesheet">
 
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" type="text/javascript"></script>
    <script>
        var mapcode;
        var diag;
        function initialize() {
            mapcode = new google.maps.Geocoder();
            var lnt = new google.maps.LatLng(26.45, 82.85);
            var diagChoice = {
                zoom: 9,
                center: lnt,
                diagId: google.maps.MapTypeId.ROADMAP
            }
            diag = new google.maps.Map(document.getElementById('map_populate'), diagChoice);
        }
        function getmap() {
            var completeaddress = document.getElementById('txt_location').value;
            mapcode.geocode({ 'address': completeaddress }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    diag.setCenter(results[0].geometry.location);
                    var hint = new google.maps.Marker({
                        diag: diag,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Location Not Tracked. ' + status);
                }
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>


</head>
<body>
    <form id="form1" runat="server">

        <div>
            <h1>You can View Your Location Here</h1>
        </div>
        @*<div>
           <input type="text" ID="txt_location" runat="server" />
            @*<textarea ID="txt_location" TextMode="MultiLine" Width="400px" Height="70px" runat="server"></textarea>*@
        @*</div>

        <div>
            <input type="button" value="Search" onclick="getmap()">
        </div>*@
        <div id="map_populate" style="width:100%; height:500px; border: 5px solid #5E5454;">
        </div>
    </form>
</body>