@model Softech.Models.ViewModels.JobVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeployDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeployDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoftwareName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoftwareName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
